<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1>회원가입(PC)</h1>
    <form method="post" th:action="@{member/join}" th:object="@{requesJoin}">
        <div class="error global" th:each="err : S{#fie;ds.globalErrors}" th:text="${err}"  >
            <ul>
                <li>
                    <input type="text" name="email" th:field="*{email}" th:placeholder="#{이메일}">
                    <div CLASS="error" th:each="err: #{#fielda.errors('email'}" th:text="${err}">

                    </div>
                </li>
                <li>

                    <input type="password" name="password" th:field="*{confirmPassword}" th::placeholder="#{비빌번호}" >
                    <div class="error" th:each="error : ${#fields.errors('name'}" th:text="${err}">
                    </div>
                </li>
                <li>

                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}" th::placeholder="#{비빌번호}" >
                    <div class="error" th:each="error : ${#fields.errors('name'}" th:text="${err}">
                    </div>
                </li>
                <li>

                    <input type="text" name="mobile" th:field="*{mobile}" th::placeholder="#{휴대번호}" >
                    <div class="error" th:each="error : ${#fields.errors('mobile'}" th:text="${err}">
                    </div>
                </li>
            </ul>
        </div>
        <h3 th:text="#{약관 동의}"></h3>
            <div class="terms">약관 동의</div>
            <input type="checkbox" name="termAgree" th:fidld="*{termsArgee}"  >
        <label for="terms-agree" th:text="#{회원가입_약관에_동의합니다}"></label>
        <button type="submit" th:text="#{가입 하기}"></button>
    </form>
</main>
</html>